body {
	font-family: 'Arial', sans-serif;
	background: #000;
	-webkit-font-smoothing: antialiased;
	color: #999;  
}

/************Navigation Bar of the Home Page**************/
.navbar {
	width: 100%;
	height: 50px;
	background-color: #1A1110;
	position: sticky;
	top: 0;
  }
  
.navbar-container {
	display: flex;
	align-items: center;
	padding: 0 100px;
	height: 100%;
	color: white;
	font-family: "Sen", sans-serif;
  }
  
.logo-container {
	flex: 1;
  }
  
.logo {
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 40px;
	color: rgba(97, 4, 4, 0.621) ;
	margin-bottom: 420px;
  }
  
.menu-container {
	flex: 6;
  }
  
.menu-list {
	display: flex;
	list-style: none;
  }
  
.menu-list-item {
	margin-right: 80px;
  }
  
.profile-container {
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: flex-end;
  }
  
.profile-text-container {
	margin: 0 20px;
  }
  
.profile-picture {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
  }
  
.toggle {
	width: 40px;
	height: 20px;
	background-color: white;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
  }
  
.toggle-icon {
	color: goldenrod;
  }
  
.toggle-ball {
	width: 18px;
	height: 18px;
	background-color: black;
	position: absolute;
	right: 1px;
	border-radius: 50%;
	cursor: pointer;
	transition: 1s ease all;
  }
  
.sidebar {
	width: 50px;
	height: 100%;
	background-color: #1A1110;
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
  }
  
.left-menu-icon {
	color: white;
	font-size: 20px;
	margin-bottom: 40px;
  }
  
.container {
	background-color: #000;
	
	min-height: calc(100vh - 50px); 
	color: white;
  }
  
.content-container {
	margin-left: 50px;
  }
  
.featured-content {
	height: 100vh;
	padding: 50px;
  }
  
.featured-title {
	width: 200px;
	height: 90px;
	font-weight: bold;
	position: sticky;
	margin-bottom: 400px;
	border-radius: 10px;
  }
  
.featured-desc {
	width: 500px;
	color: lightgray;
	margin: 30px 0;
  }
  
.featured-button {
	background-color: #4dbf00;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	outline: none;
	font-weight: bold;
  }
  
 
.arrow {
	font-size: 120px;
	position: absolute;
	top: 90px;
	right: 0;
	color: lightgray;
	opacity: 0.5;
	cursor: pointer;
  }

/*****************Movie_Slider/Carousel on the home page******************/
  .carousel-item {
	width: 900px;
	height: 520px;
	margin-left: 106px;
	border-radius: 5px;
	counter-increment: carousel-cell;
	transition: transform 0.5s;
	transform: scale(1);
  }


/*.play-btn{
	width: 65px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid #dadada48;
	z-index: 3;
	background-color: rgba(255, 0, 0, 0.185);
	position: relative;
	margin-top: -400px; 
}

.play-btn a{
	width: 65px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: all ease 0.3s;
  }

  .play-btn a:hover{
	  background-color: #e70634;
	  transition: all ease 0.3s;
  }

  .play-btn i{
	  color: #ffffff;
  }

  .play-btn-container{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin: auto;
	  width: 100%;
	  max-width: 500px;
  } */

.app-logo-container {
	flex: 1;
  }
  
.app-logo {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 40px;
	color: rgba(2, 168, 27, 0.621) ;
    margin-bottom: 30px;
	margin-left: -50px;
  }

.app-title{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
    text-shadow: #000000 0px 0px 13px;
}



  .menu-list-item.active {
	font-weight: bold;
  }
  
  
  .container.active {
	background-color: white;
  }
  
  .app-title.active {
	font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
    font-weight: bold;
    margin-top: 30px;
    text-shadow: #000000 0px 0px 13px;
}

  .movie-list-title.active {
	color: black;
  }
  
  .navbar-container.active {
	background-color: white;
	color: black;
  }
  
  .sidebar.active{
	  background-color: white;
  }
  
  .left-menu-icon.active{
	  color: black;
  }
  
  .toggle.active{
	  background-color: black;
  }
  
  .toggle-ball.active{
	  background-color: white;
	  transform: translateX(-20px);
  }

ul {
	list-style: none;
}

a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0.5rem 0;
}

img {
	width: 100%;
}

.showcase {
	width: 100%;
	height: 93vh;
	position: relative;
	background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover;
}

.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top {
	position: relative;
	z-index: 5;
	height: 90px;
}

.showcase-top img {
	width: 170px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 0;
}

.showcase-top a {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}

.showcase-content {
	position: relative;
	z-index: 2;
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 9rem;
}

.showcase-content h1 {
	font-weight: 700;
	font-size: 5.2rem;
	line-height: 1.1;
	margin: 0 0 2rem;
}

.showcase-content p {
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	font-size: 1.9rem;
	line-height: 1.25;
	margin: 0 0 2rem;
}

.box{
	width: 300px;
	padding: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
}

.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 700;
}


/*********************GENRE-BASED RECOMMENDATION ENGINE: HOME PAGE****************************/
.movie {
	color: #fff;
	margin-left: auto;
	resize: none;
	margin-right: auto; 
}

.movie-content {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	color:rgb(11, 10, 10)
}

.movie-content > div {
    margin:20px;
}

.btn-block{
	width: 15%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #e4e0e0;
}

 #content {
	background-color: #000;
	font-family: 'Noto Sans JP', sans-serif; 
    color:rgb(11, 10, 10);
}  

#details {
	margin-left: 50px;
	font-family: 'Noto Sans JP', sans-serif; 
}

.footer {
	color: #e4e0e0;
	text-align:right;
	position: fixed;
 	bottom: 20px;
 	right: 20px;
 	width: 100%;
}

h1 {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
    text-shadow: #000000 0px 0px 13px;
 }

 h3 {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
    text-shadow: #000000 0px 0px 13px;
 }


.fa-arrow-up {
	font-size: 1.5em;
	color: #ffffff;
    background: #fff;
    padding: 10px;
	border-radius: 50%;
	float: right;
    bottom: 25px;
    position: relative;
}

.fa-arrow-up:hover {
	cursor: pointer;
}


.app-title:hover {
	cursor: pointer;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

#autoComplete {
  background-position: 98% ;
}

#name {
	color: white;
	padding: 1px;
}

h6 {
    margin-bottom: 20px;  
}

@media only screen and (max-width: 650px) {
    #mcontent {
      display: block;
    }
    .poster-lg {
      display: none;
	  position: inherit;
    }
    #details {
		margin-left: 60px;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	}
    #loader {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		background-image: url("../static/loader.gif");
		background-size: 40%;
		background-position: 50% 50%;
		background-color: rgba(255, 255, 255, 1);
		background-repeat: no-repeat;
		-webkit-transition: background-image 0.2s ease-in-out;
		transition: background-image 0.2s ease-in-out;
	}

	#loader-text {
		vertical-align: middle;
		color:white;
	}

	#autoComplete {
	  background-position: 97% ;
	}
	
	svg[data-toggle=tooltip] {
		width: 50px;
		height: 50px;
	}

	.fa-arrow-up{
		font-size: 1em;
		color: #ffffff;
		background: #fff;
		padding: 10px;
		border-radius: 50%;
		float: right;
		bottom: 10px;
		position: relative;
	}
}

@media only screen and (max-width: 991px) {
	.modal-body{
		display: block;
		color:rgba(14, 244, 49, 0.621);
	}
	.profile-pic {
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 20px;
	}
}
@media only screen and (min-width: 992px) {
	.modal-body {
		display: flex;
		background-color: #000;
	}
}

@media only screen and (min-width: 651px) {
  .poster-sm {
    display: none;
   }

	#mcontent {
		display: flex;
		flex-wrap: nowrap;
		width: 1200px;
	}

	#loader {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		background-image: url("../static/loader.gif");
		background-size: 20%;
		background-position: 50% 50%;
		background-color: rgba(255, 255, 255, 1);
		background-repeat: no-repeat;
		-webkit-transition: background-image 0.2s ease-in-out;
		transition: background-image 0.2s ease-in-out;
	}

	#loader-text {
		vertical-align: middle;
		color:white;
	}

}

.poster{
    -webkit-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    -moz-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
	width: 250px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.card:hover {
	cursor: pointer;
}

.castcard:hover {
    cursor: pointer;
}

.cast-img {
	filter: brightness(100%);
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
	transition: all 0.75s ease;
}


.cast-img:hover {
	filter: brightness(50%);
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig {
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: brightness(50%);
	position: absolute;
	bottom: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
	opacity: 0;
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig:hover {
	opacity: 1;
	backdrop-filter:br;
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.card-btn {
	border-radius: 20px;
}

.imghvr {
	position: relative;
}

.table td {
    border-color: white;
    border-style:solid; 
    border-width:1px;
}

.movie_not_found {
	display: none;
	color: white;
}

main{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.movie{
	width: 300px;
	margin: 1 rem;
	margin-bottom: 100px;
	border-radius: 3px;
	box-shadow: 0.2px 4px 5px rgba(250,250,250,1);
	background-color:rgb(11, 10, 10);
	position: relative;
	overflow: hidden;
}

.movie img{
	width: 100%;
}

.movie-info{
	color: #eee;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem 1rem;
	letter-spacing: 0.5px;
}

.movie-info h3{
	margin-top: 0;
}

.movie-info span{
	background-color: #000;
	padding: 0.25rem 0.5rem;
	border-radius: 3px;
	font-weight: bold;
}

.movie-info span.green{
	color: lightgreen;
}

.movie-info span.orange{
	color: orange;
}

.movie-info span.red{
	color: red;
}

.overview{
	max-height: 100%;
	background-color: #000;
	position: absolute; 
	text-align: justify;
	left: 2px;
	right: 2px;
	padding: 1 rem;
	bottom: 0;
	transform: translateY(101%);
	transition: transform 0.3s ease-in;
}

.movie:hover .overview{
	transform: translateY(0);
}

.trailer-container{
	color: #fff;
	padding: 5vw 5vw 0;
}

.heading{
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 20px;
}

iframe{
	width: 400px;
	height: 200px;
}

.recommendations-container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.movie p{
	position: absolute;
	bottom: 30px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	opacity: 0;
}

.movie:hover p{
	opacity: 1;
}

:root {
	--primary-color: #4dbf00;
	--dark-color: #141414;
	--light-color: #f4f4f4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/* Buttons */
.btn {
	display: inline-block;
	background: var(--primary-color);
	color: #fff;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	text-align: center;
	border: none;
	cursor: pointer;
	transition: opacity 0.2s ease-in;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	border-radius: 2px;
}

.btn:hover {
	opacity: 0.9;
}

.btn-rounded {
	border-radius: 5px;
	margin-bottom: 200px;
	margin-left: 400px;
}

.btn-xl {
	font-size: 2rem;
	padding: 1.5rem 2.1rem;
	text-transform: uppercase;
}

.btn-lg {
	font-size: 1rem;
	padding: 0.8rem 1.3rem;
	text-transform: uppercase;
}

.btn-icon {
	margin-left: 1rem;
}


/******************************TAGS CONATINING GENRES***********************/
#tags{
    
    display:flex;
	justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
	width:80%;
	border-color: red;
	align-items: center;
}

.tag{
    color:white;
	display:inline-block;
    cursor: pointer;
	margin-bottom: 10px;
    padding:10px 20px;
	background-color: transparent;
    border-radius: 50px;
    margin:5px;
	border-color: red;
	box-shadow: 0.2px 4px 5px rgba(250,250,250,1);
	text-shadow: #000000 0px 0px 13px;
}

.tag.highlight{
    background-color: #4dbf00;
}
.no-results{
    color:white;
}

.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid #4dbf00;
    font-size: 20px;
    font-weight: 600;
}

.know-more{
    background-color: #4dbf00;
    color:white;
    font-size: 16px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 5px;
}

/* The Overlay (background) */
.overlay {
    /*********** Height & width depends on how you want to reveal the overlay ***********/   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /******************** Position the content inside the overlay *******************/
  .overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

  .featured-title2 {
	width: 200px;
	height: 90px;
	position: sticky;
	margin-bottom: 400px;
	border-radius: 10px;
  }
  
  /******************* The navigation links inside the overlay *******************/
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /******************* When you mouse over the navigation links, change their color ***************/
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /************** Position the close button (top right corner) *****************/
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }


  /* --play-btn---
  .play-btn{
	  width: 65px;
	  height: 65px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  border-radius: 50%;
	  border: 1px solid #dadada48;
	  z-index: 3;
	  background-color: rgba(255, 0, 0, 0.185);
	  position: relative;
	  margin-bottom: 400px;
  }

  .play-btn a{
	width: 65px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: all ease 0.3s;
  }

  .play-btn a:hover{
	  background-color: #e70634;
	  transition: all ease 0.3s;
  }

  .play-btn i{
	  color: #ffffff;
  }

  .play-btn-container{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin: auto;
	  width: 100%;
	  max-width: 500px;
  } */

  .container_for_movies {
	background-image: url("../static/container_for_movies_bg.jpg");
	width: 1150px;
	-webkit-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    -moz-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
	border-radius: 40px;
  }
  
  .scroll-down {
	color: white;
	font-size: 50px;
	margin-bottom: 40px;
  }